.authorizedUser {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 30px;
}

.logOutButton {
    color: var(--primary-color);
}

.logOutButton:hover {
    color: var(--primary-color-active);
}