.telegramWidget {
    color: #54aaeb;
    font-size: 15px;
}

.telegramWidget:visited {
    color: #54aaeb;
}

.telegramWidget:hover {
    color:#61c4ff;
}

.telegramWidget:active {
    color: #32668d;
}