.imageCell {
    width: 100%;
    height: 100px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: white;
    border-radius: var(--element-border-radius);
}

.img {
    max-width: 80px;
    max-height: 80px;
}

