.light {
    --bg-color: #F2F2F5;
    --bg-inverted-color: #161618;
    --bg-inverted-color-inactive: #333336;

    --on-bg-color: #FFFFFF;
    --on-bg-color-active-1: #f4f4f4;
    --on-bg-color-active-2: #e8e8e8;
    --on-bg-color-inverted: #000000;

    --on-bg-shadow: 0 0 6px #00000020;
    --on-bg-shadow-inset: 0 0 6px #00000020 inset;

    --primary-color: #3e3e44;
    --primary-color-active-1: #313136;
    --primary-color-active-2: #27272b;
    --primary-color-inverted: #F2F2F5;

    --secondary-color: rgb(213, 73, 73);
    --secondary-color-inverted: rgb(68, 0, 24);

    --error-color: rgb(126, 25, 25);
    --favorite-color: rgb(213, 73, 73);
}
