.light {
    --bg-color: #F2F2F5;
    --bg-inverted-color: #161618;
    --bg-inverted-color-inactive: #333336;

    --on-bg-color: #FFFFFF;
    --on-bg-color-inverted: #161618;

    --primary-color: #161618;
    --primary-color-inverted: rgb(212, 212, 212);

    --secondary-color: rgb(3 0 164);
    --secondary-color-inverted: rgb(0 117 0);
}
