.pageWrapper {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.pageWrapper > div {
    padding-top: calc(var(--header-height) + 20px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}